.grid{
    
    background-color: #b8f4ff;
}

.grid__cell-100{
    
    background-color: thistle;
}

.grid__cell-50{
    
    background-color: #73bcc9;
   
}

.grid__cell-25{
    
    background-color:#2d7581;
    border-color: white;
    border-width: 5px;
   
}

@media (min-width:600px) {

.grid{
    display: flex;
    background-color: #b8f4ff;
    flex-wrap: wrap;
}
.grid > .grid__cell-100

.grid__cell-100{
    margin: 8px;
    flex: 0 0 calc(100% - 16px);
    background-color: thistle;
}

.grid__cell-50{ 
    margin: 8px;
    flex: 0 0 calc(50% - 16px);
    background-color: #73bcc9;
   
}

.grid__cell-25{ 
    margin: 8px;
    flex: 0 0 calc(25% - 16px);
    background-color:#2d7581;
    border-color: white;


   
}
}


